@layer components {

  .motif{
    fill: var(--textTitle);
    transition: all var(--durationM) ease;  

    &:hover {
      transform: rotate(-225deg);
    }
    
  }

  .highlight {
  fill: var(--accent);
  transform-origin: top right;
  transform: scale3d(0, 0, 0);
  transition: transform 0.2s ease;

  }

  .motif:hover .highlight {
    transform: scale3d(1, 1, 1);
  }

  .logo {
    display: flex;
    fill: var(--textTitle);
    position: relative;
    padding: var(--spaceS) var(--spaceS) var(--spaceL);
    z-index: var(--zIndex2);
    
  }

}