@layer components {
  @keyframes slide {
    from {
      /* x: 64px; */
      y: -128px;
    }
    to {
      y: 128px;
      /* x: 0px; */
    }
  }

  .motif {
    fill: var(--text-primary);
    transition: color var(--durationM) var(--bezierFastoutSlowin);
    
  }

  .logo {
    display: flex;
    color: var(--textTitle);
    position: relative;
    padding: var(--spaceS) var(--spaceS) var(--spaceL);

    z-index: var(--zIndex2);
    
  }

  .highlight {
    transform: rotate(45deg);
  }

  #motif-clip rect {

      animation: slide 3s infinite;
  
    }
}
